* {
    margin: 0;
    padding: 0;
}

body {
}

header {
    margin-bottom: 50px;
}

.container {
    max-width: 1440px;
    margin: 2% 5% 0 5%;
}

@media (max-width: 1440px) {
    .container {
        margin-top: 40px;
        max-width: 1440px;
    }
    header {
        margin-bottom: 200px;
    }
}
@media (max-width: 1300px) {
    .container {
        margin-top: 40px;
        max-width: 1200px;
    }
    header {
        margin-bottom: 50px;
    }
}
@media (max-width: 780px) {
    .container {
        margin-top: 20px;
        max-width: none;
    }
}

.header_text {
    /*position: absolute;*/
    display: block;


    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;

    color: #333333;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

.Scarecrow {
    position: relative;
    display: inline-block;
    width: 42%;
}

.Scarecrow img {
    width: 100%;

    position: relative;

}

.text {
    position: relative;
    width: 44%;
}

.badnews {
    position: relative;
    width: 100%;
    margin-bottom: 4%;

    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 148%;
    letter-spacing: -0.035em;

    color: #333333;
}



.page {
    position: relative;
    width: 66%;
    margin-bottom: 8%;

    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
}

.recout {
    position: relative;

    width: 216px;
    height: 68px;
}

.rec {
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 216px;
    height: 68px;

    background: #333333;

    text-align: center;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;

    letter-spacing: -0.035em;
    text-transform: uppercase;

    color: #FFFFFF;
}

@media (max-width: 922px) {
    header {
        margin-bottom: 64px;
    }

    .main {
        display: block;
    }

    .Scarecrow {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 5%;
    }

    .Scarecrow img {
        width: 85%;
        margin: auto;
    }

    .text {
        width: 100%;
    }

    .badnews {
        font-size: 48px;
        margin-bottom: 7.5%;
    }

    .page {
        width: 100%;
        font-size: 18px;
        margin-bottom: 20%;
    }
}

footer {
    position: absolute;
    display: block;
    bottom: 24px;
    width: 90%;
    justify-content: center;
}



.end {
    display: inline-block;
    position: relative;
    width: 100%;
    bottom: 0;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #BDBDBD;
}

.t700 {
    font-weight: 700;
    text-decoration: underline;
}